.bars{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.bar{
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thisOneInPlace{
    background:  green !important;
}
.options{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    background: rgb(0, 238, 255);
    padding: 2rem 0;
}